:root {
  --primary-color: rgb(143, 205, 207);
  --secondary-color: rgb(19, 31, 56);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
}

/* Header and Nav Start */

header {
  padding: 10px 10px 10px 0px;
  background-color: rgb(41, 46, 46);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-size: 35px;
  font-weight: bold;
  padding: 0px 10px 0px 60px;
  background-color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bolder;
  font-size: 1.4vw;
  color: var(--primary-color);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  text-shadow: none;
}

/* Header and Nav End */

/* Footer Start */

/* Hero Start */
.hero {
  background-image: url("../images/wood-unsplash.jpg");
  background-size: cover;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  background-attachment: fixed;
  background-position: 80%;
  margin: 0px 0px 20px 0px;
}

.hero-subtitle {
  padding: 70px 30px 20px 20px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.hero-subtitle h2 {
  background-color: var(--primary-color);
  color: black;
  flex: wrap;
}
/* Hero End */

/* Section Titles Start */
.section-title {
  margin: 10px 20px;
  border-right: 3.5px solid;
  color: var(--secondary-color);
  text-align: right;
  font-size: 30px;
  padding: 0px 10px 40px 50px;
}

.primary-border {
  border-color: blueviolet;
}

.secondary-border {
  border-color: brown;
}
/* Section Titles End */

/* About Me */
.about-me {
  flex: 1 1 10em;
}

/* Work  */
.surf-report {
  flex: 1 1 10em;
}

.surf-report img {
  width: 40%;
  border-color: var(--primary-color);
}

/* Contact Me */

/* Utilities */
.container {
  display: flex;
  flex-wrap: wrap;
}

.containers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* end Utilities */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}
