:root {
  --primary-color: rgb(143, 205, 207);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header and Nav Start */

header {
  padding: 10px 70px;
  background-color: rgb(41, 46, 46);
}

header h1 {
  font-weight: bold;
  font-size: 38px;
}

header h1 a {
  text-decoration: none;
  color: black;
  background-color: var(--primary-color);
}

header a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: var(--primary-color);
}
header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  border-bottom: var(--primary-color);
  flex: wrap;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

/* Hero  */
