:root {
  --primary-color: rgb(143, 205, 207);
  --secondary-color: rgb(19, 31, 56);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
}

/* Header and Nav Start */

header {
  padding: 10px 10px 10px 0px;
  background-color: rgb(41, 46, 46);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-size: 35px;
  font-weight: bold;
  padding: 0px 10px 0px 60px;
  background-color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bolder;
  font-size: 1.4vw;
  color: var(--primary-color);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  text-shadow: none;
}

/* Header and Nav End */

/* Footer Start */
/*footer {
  padding: 10px 10px 10px 0px;
  background-color: rgb(41, 46, 46);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Hero Start */
.hero {
  background-image: url("../images/wood-unsplash.jpg");
  background-size: cover;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  background-attachment: fixed;
  background-position: 80%;
  margin: 0px 0px 20px 0px;
}

.hero-subtitle {
  padding: 70px 30px 20px 20px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.hero-subtitle h2 {
  background-color: var(--primary-color);
  color: black;
  flex: wrap;
}
/* Hero End */

/* Section Titles Start */
.section-title {
  margin: 10px 20px;
  border-right: 3.5px solid;
  text-align: right;
  color: var(--secondary-color);
  font-size: 30px;
  padding: 0px 10px 40px 50px;
}

/* About Me */
#about-me,
#work,
#contact-me {
  display: flex;
  flex-wrap: wrap;
}

.about-title,
.work-title {
  flex: 1;
}

.about-me {
  flex: 4;
  padding: 30px;
  justify-content: center;
}

.work {
  flex: 4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.surf-div {
  position: relative;
}

.surf-div p {
  position: absolute;
  padding: 15px;
  left: 10px;
  bottom: 10px;
  color: black;
  background-color: var(--primary-color);
}
.surf-report-img {
  height: 300px;
  flex: 3;
  border: 5px solid var(--primary-color);
}

.led-div {
  position: relative;
}

.led-div p {
  position: absolute;
  padding: 15px;
  left: 10px;
  bottom: 10px;
  color: black;
  background: var(--primary-color);
}
.led-img {
  height: 120px;
  width: 310px;
  flex: 1;
  border: 5px solid var(--primary-color);
}

.calculator-div {
  position: relative;
}

.calculator-div p {
  position: absolute;
  padding: 15px;
  left: 10px;
  bottom: 10px;
  color: black;
  background: var(--primary-color);
}

.calculator-img {
  height: 120px;
  width: 310px;
  flex: 1;
  border: 5px solid var(--primary-color);
}

.pastel-puzzles-div {
  position: relative;
}

.pastel-puzzles-div p {
  position: absolute;
  padding: 15px;
  left: 10px;
  bottom: 10px;
  color: black;
  background: var(--primary-color);
}

.pastel-puzzles-img {
  height: 120px;
  width: 310px;
  flex: 1;
  border: 5px solid var(--primary-color);
}

.run-buddy-div {
  position: relative;
}

.run-buddy-div p {
  position: absolute;
  padding: 15px;
  left: 10px;
  bottom: 10px;
  color: black;
  background: var(--primary-color);
}

.run-buddy-img {
  height: 120px;
  width: 310px;
  flex: 1;
  border: 5px solid var(--primary-color);
}

.contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.contact-me a {
  text-decoration: none;
  margin: 40px;
  font-weight: bolder;
  font-size: 1.4vw;
  color: var(--primary-color);
  border-bottom: 3.5px solid;
}
.contact-me ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.contact-me-links ul li a {
  font-weight: bolder;
  font-size: 1.4vw;
  color: var(--primary-color);
  border-bottom: 3.5px solid;
}

/* Contact Me */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .hero-cta,
  .hero-form {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }

  .trainer {
    flex: 0 70%;
  }

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
  }
}
